//edit the image directory and add clothing image later on this week//
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Home</title>
    <link rel="stylesheet" 
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js">     
  </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js">
  </script>
  </head>
  <body>
    <div class="container-fluid">
      <h1>Welcome to Clothing Warehouse Application</h1>
      <img th:src="@{/images/ClothesWarehouseControl.jpg}" alt="Clothing Warehouse Application" />
    </div>
  </body>
</html>